<div class="jumbotron">
    <h1>Angular Workshop</h1>
    <p class="lead">Angular ett nytt sätt att jobba på. Applikationslogik i angular, resten i Web Api</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Angular app</h2>
        <a href="/App">To angular app</a> <br/>
        <a href="https://github.com/softchris/WorkshopAngular">Källkod till denna template</a> <br />
    </div>
    
</div>
